.projectFormTitle {
  margin-bottom: 1em;
  text-align: center;
}

.lblForm {
  display: block;
  text-transform: uppercase;
  margin-top: 1em;
}

.inputForm {
  width: 88%;
  margin-bottom: 1em;
  padding: 0.8em 0 0.8em 0.5em;
  background: transparent;
  border: none;
  border-bottom: 1px solid #ffffff;
  color: inherit;
  font-size: 14px;
}

.textareaForm {
  background: transparent;
  border: 1px solid #ffffff;
  border-radius: 5px;
  margin-top: 0.8em;
  padding: 0.8em 0 0 0.5em;
  color: inherit;
  font-size: 14px;
}

.btnForm {
  display: block;
  width: 90%;
  margin-top: 0.8em;
  padding: 0.8em 0 0.8em 0;
  font-size: 2em;
  background: transparent;
  border: 4px solid darkslategray;
  border-radius: 20px;
  background-color: darkslategray;
  color: darkgray;
  cursor: pointer;
  transition-duration: 1s;  
}

.btnForm:hover {
  background-color: #142020;
  color: #ffffff;  
}
