@import 'generals';

.mainTitle {
  text-align: center;
}

.cntLoginForm {
  display: flex;
  justify-content: center;
}

.loginForm {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cntButtons {
  display: flex;
  justify-content: center;
}

.hidden {
  display: none;
}

.loginTitle {
  text-align: center;
}

.inpLogin {
  padding: 0.5em;
  margin-bottom: 1em;
}

.btnFormLogin {
  padding: 1em;
}

.cntButtons a {
  background-color: aqua;
  color: black;
  font-size: 24px;
  padding: 2em;
  border-radius: 1em;
  margin-right: 1em;
}

.btn_cerrarS {
  margin-top: 0.8em;
  padding: 0.8em 0 0.8em 0;
  font-size: 2em;
  background: transparent;
  border: 4px solid darkslategray;
  border-radius: 20px;
  background-color: darkslategray;
  color: darkgray;
  cursor: pointer;
  transition-duration: 1s;  
}

.btn_cerrarS:hover {
  background-color: #142020;
  color: #ffffff;  
}