@import 'generals';

.mainTitleProfile {
  text-align: center;
}

.app {
  display: flex;
  justify-content: center;
}

.cntProjectForm {
  width: 40%;
  display: flex;
  justify-content: center;
}

.projectFrm {
  width: 100%;
}

.lblForm {
  display: block;
  text-transform: uppercase;
  margin-top: 1em;
}

.inputForm {
  width: 98%;
  margin-bottom: 1em;
  padding: 0.8em 0 0.8em 0.5em;
  background: transparent;
  border: none;
  border-bottom: 1px solid #ffffff;
  color: inherit;
  font-size: 14px;
}

.btnProfileForm {
  display: block;
  width: 98%;
  margin-top: 0.8em;
  padding: 0.8em 0 0.8em 0;
  font-size: 2em;
  background: transparent;
  border: 4px solid darkslategray;
  border-radius: 20px;
  background-color: darkslategray;
  color: darkgray;
  cursor: pointer;
  transition-duration: 1s;  
}

.btnProfileForm:hover {
  background-color: #142020;
  color: #ffffff;  
}

.linkProfileIndex {
  color: #95bdaf;
}