@import 'generals';

// Header
.cntHeader {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  // background-color: blueviolet;
}

.cntHeader--title {
  text-align: center;
  font-size: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
}
// Header


// Main
.cntMain {
  display: flex;
}

.cntMain--list, .cntMain--aside {
  height: 800px;
}

.cntMain--list {
  width: 60%;
  // background-color: aliceblue;
}

.cntMain--aside {
  width: 40%;
  // background-color: bisque;
}

@import 'formProject';

.aBtn {
  display: inline-block;
  width: 22%;
  margin-top: 0.8em;
  padding: 0.8em 0 0.8em 0;
  font-size: 1em;
  background: transparent;
  border: 4px solid darkslategray;
  border-radius: 10px;
  background-color: darkslategray;
  color: darkgray;
  text-align: center;
  text-decoration-line: none;
  cursor: pointer;
  transition-duration: 1s;  
}

.aBtn:hover {
  background-color: #142020;
  color: #ffffff;  
}


// Main


// Footer
.cntFooter {
  height: 50px;
  // background-color: cadetblue;
  display: flex;
  align-items: center;
  justify-content: center;
}
// Footer