@import 'generals';

.cntBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cntTicket {
  background-color: #424242;
  width: 620px;
  height: 500px;
  margin-top: 2em;
  border: 1px #d38888 solid;
  border-radius: 1em;
  margin-bottom: 1em;
}

.titleMainT {
  text-align: center;
  margin-bottom: 1em;
  text-transform: uppercase;
}

.idTicketText {
  margin: 2em 0 2em 0;
}

.imgTicket {
  display: block;
  margin: auto;
  width: 600px;
  border-radius: 0.5em;
}

.linkTicket {
  color: #d38888;
}